@using Microsoft.AspNet.Identity
@model FilipBlog.Models.Comment




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<input type="text" id="commentContent" value="" />
<button id="createComment" data-url='@Url.Action("ShowComments","Posts", new {postId = Model.Post_PostId } )'>Create</button>

@*<button id="createComment" data-url='@Url.Action("ShowComment","Comments")'>Create</button>*@

<input type="text" id="commentPostId" hidden="hidden" value=@Model.Post_PostId />

<script type="text/javascript">
    $("#createComment").on("click", function () {


        var newComment = {
            Content: $("#commentContent").val(),

            Post_PostId: $("#commentPostId").val()

        };
        $.ajax({
            url: '/api/CommentsApi',
            type: 'POST',
            data: JSON.stringify(newComment),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                refreshComments();
      },
            error: function (data) {
                //alert("POST error");
                refreshComments();
            }
        });


    })
</script>














@section scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}