@model FilipBlog.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfModification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfModification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFlagged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFlagged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd>
            @foreach (var category in Model.Categories)
            {
                <p>@Html.DisplayFor(item => category.Name)</p>
            }
        </dd>

        <h4>Comments:</h4>
        <dd>
            <ul>
                @foreach (var comment in Model.Comments)
                {
                    <li>@Html.DisplayFor(item => comment.Content)</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*@RenderPage("~/Views/Comments/CommentList.cshtml")
*@