@model FilipBlog.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}




<div class="row">
    <div class=" purpleBackground whiteText profileSidebar">
        
        <h1> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
        <img src=@Model.ProfilePictureURL class="profilePic img-circle">
        <div>
            <a href="#about">About</a>
        </div>
        <div>
            <a href="#posts">Posts</a>
        </div>
        <div>
            <a href="#likes">Likes</a>
        </div>
        <div>
            <a href="#comments">Comments</a>
        </div>

        </div>
    <div class="profileMain">
        <div id="about">

            <h2>About:</h2>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BirthDay)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BirthDay)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Biography)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Biography)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>




                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>



                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    Roles
                </dt>

                <dd>
                    <ul>
                        @foreach (var r in Model.Roles)
                    {
                        <li>  @r.RoleId</li>
                }
                    </ul>
                </dd>

            </dl>

        </div>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

        <div id="posts">

            <h2>Posts:</h2>
            @foreach (var post in Model.PostsAuthored)
        {
            @Html.Partial("~/Views/Posts/_Basic.cshtml", post);


    }


        </div>


        <div id="likes">

            <h2>Likes:</h2>
            @foreach (var post in Model.PostsLiked)
        {
            @Html.Partial("~/Views/Posts/_Basic.cshtml", post);


    }


        </div>

        <div id="comments">

            <h2>Comments:</h2>
            @foreach (var post in Model.PostsCommentedOn)
        {
            @Html.Partial("~/Views/Posts/_Basic.cshtml", post);


    }


        </div>

    </div>

    </div>

